.login{
    padding: 0 30px;
}

.login-id{
    padding: 0 30px;
}

.list{
    padding: 0 30px;
}

.create{
    padding: 0 30px;
}

.end{
    padding: 0 30px;
}

.boxes{
    background-color: aqua;
    cursor: pointer;
    border-radius: 5px ;
}
.delete{
    background-color: rgb(226, 122, 122);
    cursor: pointer;
}
.update{
    background-color: rgb(155, 228, 163);
    cursor: pointer;
}
.back{
    background-color: gray;
    cursor: pointer;
}